* {
    padding: 0;
    margin: 0;
    background-color: rgb(243, 226, 192);
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    display: flex;
    justify-content: start;
    background-color: rgb(27, 26, 26);
}
main {
    background: linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)),
    url(../assets/design1_image1.jpg);
    background-size:cover;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo {
    display: inline-flex;
    align-self: flex-end;
    transform: translateX(45%);
    background: fixed;
    color: yellow;
    text-shadow: -2px -2px 0px #cc0000, 2px -2px 0px #cc0000, -2px 2px 0px #cc0000, 2px 2px 0px #cc0000;
    font-size: 3rem;
}

img {
    width: 10%;
    background: fixed;
}

nav {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: fixed;
    justify-content: space-around;
}
nav a {

    width: 100px;
    height: 4rem;
    padding: 1rem;
    padding-top: 1.3rem;
    margin-left: 1rem;
    background-color: rgb(39, 163, 163);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem;
    text-shadow: 1px 1px 1px black;
    color: yellow;
    box-shadow: 2px 2px 2px black;
}
section {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: fixed;
}
.subtitulo {
    background: fixed;
    color: yellow;
    text-shadow: -2px -2px 0px #cc0000, 2px -2px 0px #cc0000, -2px 2px 0px #cc0000, 2px 2px 0px #cc0000;
    background:fixed;
    font-size: 2rem;
}
.contenido {
    background: fixed;
    height: 75%;
    align-self: flex-start;
}

h3, p {
    background: fixed;
    color: white;
    margin-top: 15px;
    font-size: 18px;
    
}

.evento {
    margin-left: 20px;
}

a:hover {
    transform: scale(1.5);
}
p>a {
    background: fixed;
    color: rgb(39, 163, 163);

}
#gi {
    display: flex;
    flex-direction: column;
    background: fixed;
}
#games {
width: 100%;
height: 50%;
display: flex;
margin: 2rem;
}
#maps {
width: 100%;
display: flex;
flex-direction: column;
}
#maps2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: fixed;
}
.recuadro {
    width: 40%;
    margin: 2rem;
    background: rgb(39, 163, 163);
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe {
    border-radius: 1rem;
    margin: 1rem;
}
.lugar {
    color:yellow;
    text-shadow: -2px -2px 0px #cc0000, 2px -2px 0px #cc0000, -2px 2px 0px #cc0000, 2px 2px 0px #cc0000;
    font-size: 1.5rem;
}
li {
    color: white;
    background: fixed;
}
ol {
    background: fixed;
}
ul {
    background: fixed;
    list-style-type:disc;
    list-style-position: inside;
}
.letras {
    list-style-position: inside;
    list-style-type: lower-latin;
}
span {
    background:fixed;
    font-weight: bold;
    font-size: 1.2rem;
}
.datos {
    display: inline;
}
table, tr, td, th {
    background-color: yellow;
    border: 2px solid red;
    padding: 3px;
    border-collapse: collapse;
}
#tabla {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.reglas {
    background: fixed;
    color: white;
    margin: 2rem;
}
.aclaracion {
    text-decoration: underline;
    font-style: italic;
    margin: 4rem;
    transform: translateX(100%);
} 
form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: yellow;
    border: 2px solid red;
    margin: 2rem;
}
fieldset {
    margin: 0.5rem;
    background-color:rgb(39, 163, 163);
    box-shadow: 2px 2px 2px black;
}
fieldset>p {
    color: black;
    margin: 2px;
    font-size: 15px;
}
label {
    margin: 1rem;
    display: inline-block;
    background: rgb(39, 163, 163);
}
input {
    margin: 1rem;
    background: rgba(57, 201, 201, 0.719);
}
label>span {
    font-size: 1rem;
}
h4 {
    background: rgb(39, 163, 163);
}
input[type="submit"] {
    width: 10rem;
    height: 3rem;
    background-color: yellow;
    border: 2px solid red;
    box-shadow: 2px 2px 2px black;
    font-size: 1.5rem;
    font-weight: bold;
}
input[type="submit"]:hover {
    transform: scale(1.5);
}