* {
    padding: 0;
    margin: 0;
    background-color: rgb(243, 226, 192);
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(27, 26, 26);
}
main {
    background: linear-gradient(
        rgba(0, 0, 0, .6),
        rgba(0, 0, 0, .6)),
    url(../assets/design1_image1.jpg);
    background-size:cover;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.titulo {
    display: flex;
    align-content: flex-end;
    background: fixed;

}
h1 {
    background: fixed;
    color: yellow;
    text-shadow: -2px -2px 0px #cc0000, 2px -2px 0px #cc0000, -2px 2px 0px #cc0000, 2px 2px 0px #cc0000;
    font-size: 3rem;
    align-self: flex-end;
    justify-content: center;
}
img {
    width: 10%;
    background: fixed;
}

nav {
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: fixed;
    justify-content: space-around;
}
nav a {

    width: 100px;
    height: 4rem;
    padding: 1rem;
    padding-top: 1.3rem;
    margin-left: 1rem;
    background-color: rgb(39, 163, 163);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem;
    text-shadow: 1px 1px 1px black;
    color: yellow;
    box-shadow: 2px 2px 2px black;
}
section {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: fixed;
}
.subtitulo {
    background: fixed;
}
.contenido {
    background: fixed;
    height: 75%;
    align-self: flex-start;
}
h2 {
    color: yellow;
    text-shadow: -2px -2px 0px #cc0000, 2px -2px 0px #cc0000, -2px 2px 0px #cc0000, 2px 2px 0px #cc0000;
    background:fixed;
    font-size: 2rem;
}

h3, p {
    background: fixed;
    color: white;
    margin-top: 15px;
    font-size: 18px;
    
}

.evento {
    margin-left: 20px;
}

a:hover {
    transform: scale(1.5);
}
p>a {
    background: fixed;
    color: rgb(39, 163, 163);

}
li {
    color: white;
    background: fixed;
}
ol {
    background: fixed;
}
ul {
    background: fixed;
}
